
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img  src="https://www.kindpng.com/picc/m/261-2619168_soccer-football-ball-free-photo-kick-american-football.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/players">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nations">Nations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/auth/account"><p>Profile</p></a>
                    </li>
                </ul>
                <div class="action-button">
                    <a class="btn signIn-button" href="/auth">Sign In</a>
                    <a class="btn logout-button" href="/auth/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
